@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
  padding: 0 auto;;
  text-align: center;
}

@font-face {
  font-family: "gopher_black";
  src: url("./static/fonts/gopher-black-webfont.woff") format("woff");
}

@font-face {
  font-family: "gopher_black";
  src: url("./static/fonts/gopher-black-webfont.woff") format("woff");
}

@font-face {
  font-family: "gopher_black";
  src: url("./static/fonts/gopher-black-webfont.woff") format("woff");
}

@font-face {
  font-family: "gopher_black";
  src: url("./static/fonts/gopher-black-webfont.woff") format("woff");
}

@font-face {
  font-family: "gopher_black";
  src: url("./static/fonts/gopher-black-webfont.woff") format("woff");
}

@font-face {
  font-family: "gopher_black";
  src: url("./static/fonts/gopher-black-webfont.woff") format("woff");
}

@font-face {
  font-family: "gopher_black";
  src: url("./static/fonts/gopher-black-webfont.woff") format("woff");
}

* {
  font-family: "gopher_black";
}

